<p>Lista de Usuários do GitHub:</p>

<!-- track é a key do react usada para otimizar a renderização de listas -->
@for (usuario of usuarios; track usuario.id) {
  <div class="user-card">
    <p><strong>{{ usuario.login }}</strong> - <a [href]="usuario.html_url" target="_blank">{{ usuario.html_url }}</a></p>
  </div>
} @empty {
  <p>Carregando usuários...</p>
}

@if (error) {
  <p>Ocorreu um erro ao carregar os usuários: {{ error }}</p>
}

@if (usuarios.length > 0 ) {
  <button (click)="enviarformulario()">Enviar Formulário</button>
}
